<!--
  首頁區塊樣式：blockTypeA（帶 listBox 的日期+標題清單）
  搭配 mp 首頁的 sectionTitle 使用
-->
<div class="blockTypeA">
  <ul class="listBox">
    <li>
      <a href="#">
        <time datetime="{{ISO_DATE_1}}">{{DATE_1}}</time>
        <div class="title">{{TITLE_1}}</div>
      </a>
    </li>
    <li>
      <a href="#">
        <time datetime="{{ISO_DATE_2}}">{{DATE_2}}</time>
        <div class="title">{{TITLE_2}}</div>
      </a>
    </li>
    <li>
      <a href="#">
        <time datetime="{{ISO_DATE_3}}">{{DATE_3}}</time>
        <div class="title">{{TITLE_3}}</div>
      </a>
    </li>
  </ul>
</div>
