<!--
  listGroup：條列式新聞/公告（lp 頁型常用）
  欄位：.num + .title + .dept(部門，可省略) + time
-->
<div class="listGroup">
  <ul>
    <li>
      <a href="#">
        <div class="num">1</div>
        <div class="title">{{TITLE_1}}</div>
        <div class="dept">{{DEPT_1}}</div>
        <time>{{DATE_1}}</time>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="num">2</div>
        <div class="title">{{TITLE_2}}</div>
        <div class="dept">{{DEPT_2}}</div>
        <time>{{DATE_2}}</time>
      </a>
    </li>
  </ul>
</div>
