<!--
  pagination：分頁器
  .page 無障礙：firstArrow / prevArrow / nextArrow / lastArrow 都需有 title
  目前頁 → li.active
-->
<div class="pagination">
  <form action="">
    <div class="formInline">
      共<span>{{TOTAL}}</span>筆資料，第<span>{{CURRENT_PAGE}}/{{TOTAL_PAGES}}</span>頁，<label for="pageSize">每頁顯示</label>
      <select name="" id="pageSize">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
      </select>
      筆<button type="submit" class="btnPrimary btnSubmit">確定</button>
    </div>
  </form>
  <ul class="page">
    <li class="firstArrow"><a href="#" title="第一頁">第一頁 </a></li>
    <li class="prevArrow"><a href="#" title="回上一頁">回上一頁 </a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li class="nextArrow"><a href="#" title="下一頁">下一頁 </a></li>
    <li class="lastArrow"><a href="#" title="最後一頁">最後一頁 </a></li>
  </ul>
</div>
