<!-- fatFooter Start（頁尾網站導覽，可依站台結構填入） -->
<div class="fatFooter">
  <div class="container">
    <button type="button" aria-expanded="true" id="fatFooterBtn" aria-label="開關頁尾網站導覽"></button>
    <nav aria-label="頁尾網站導覽">
      <ul>
        <li>
          <a href="#">關於我們</a>
          <ul>
            <li><a href="#">沿革</a></li>
            <li><a href="#">組織介紹</a></li>
          </ul>
        </li>
        <li>
          <a href="#">最新消息</a>
          <ul>
            <li><a href="#">公告</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- fatFooter End -->

<!-- footer Start -->
<footer>
  <a class="accessKeyItem" href="#aZ" id="aZ" accesskey="Z" aria-label="頁尾區">:::</a>
  <div class="container">
    <div class="infoBox">
      <div class="footerLogo">
        <a href="index.html"><img src="images/footer_logo.png" alt="{{SITE_NAME}}" />{{SITE_NAME}}<span>{{SITE_SUBTITLE}}</span></a>
      </div>
      <p class="copyright">{{COPYRIGHT}}</p>
      <ul class="footerInfo">
        <li>{{ADDRESS_LINE_1}}</li>
        <li>{{ADDRESS_LINE_2}}</li>
      </ul>
      <ul class="footerLink">
        <li><a href="#" class="btnSecondary">隱私權政策</a></li>
        <li><a href="#" class="btnSecondary">網站安全政策</a></li>
        <li><a href="#" class="btnSecondary">政府網站資料開放宣告</a></li>
      </ul>
    </div>
    <div class="infoBox">
      <div class="footerIcon">
        <a target="_blank" href="#">
          <img src="images/basic/accessibility.jpg" alt="通過AA檢測等級無障礙網頁檢測" />
        </a>
        <a target="_blank" href="#">
          <img src="images/basic/egov.png" alt="我的e政府" />
        </a>
      </div>
      <div class="footerInfo2">
        <div class="update">更新日期:<span>{{UPDATE_DATE}}</span></div>
        <div class="counter">累計瀏覽人次:<span>{{VISITOR_COUNT}}</span></div>
      </div>
    </div>
  </div>
</footer>
<!-- footer End -->

<!-- floatNav：側邊漂浮社群按鈕 -->
<div class="floatNav">
  <ul class="typeA">
    <li><a href="#"><img src="images/basic/icon/share/facebook.svg" alt="facebook" /></a></li>
    <li><a href="#"><img src="images/basic/icon/share/youtube.svg" alt="youtube" /></a></li>
    <li><a href="#"><img src="images/basic/icon/share/x.svg" alt="x" /></a></li>
    <li><a href="#"><img src="images/basic/icon/share/instagram.svg" alt="instagram" /></a></li>
    <li><a href="#"><img src="images/basic/icon/share/email.svg" alt="email" /></a></li>
  </ul>
  <button class="floatSwitchBtn" aria-label="開關悬浮按鈕"></button>
</div>

<!-- 回到頂部 -->
<button type="button" id="scrollTop" aria-label="回到頂部">TOP</button>
