<!doctype html>
<html lang="zh-Hant" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{PAGE_TITLE}}</title>
    <!-- 主要樣式 -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- 主題色（可替換為 blue.css 或其他色系） -->
    <link rel="stylesheet" href="css/blue.css" />
    <link href="images/favicon.png" rel="icon" type="image/x-icon" />
  </head>
</content>
</invoke>